@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}